footer {
    background-color: $dark-color;
    color: whitesmoke;
    text-decoration: none;
    .about-footer {
        text-decoration: none;
    }
    .container {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 20% 20% 30% 30%;
        grid-template-rows: 40% 60%;
    }
}

.contact li {
    display: inline;
}

.map {
    grid-row: 2/2;
    grid-column: 1/5;
    text-align: end;
}
