footer {
    background-color: $dark-color;
    color: $lightest-color;
    padding-bottom: 1%;
   
    .container {
        display: grid;
        padding-top: 1%;
        grid-template-columns: 20% 20% 30% 30%;
        grid-template-rows: 50% 50%;
    }

    a{
        text-decoration: none;
        color: white;
        padding: $padding;
    }

   
}


.cart-footer{
    text-align: start;
    padding-left: 20%;
}

.social-footer{
    align-self: start;
    text-align: start;
    padding-left: 30%;
}
.contact-us-footer{
    text-align: center;
    padding-left: 8%;
}

.contact li {
    display: inline;
}

.map {
    grid-row: 2/2;
    grid-column: 1/5;
    text-align: end;
  
}





