form{
    border: 1px;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: $light-color;

}

.form-button{
    text-align: center;
}

h2{
    text-align: center;
}



