form {
    border: 1px;
    padding: $padding1;
    margin-bottom: $padding1;
    margin-top: $padding1;
    margin-left: 10%;
    margin-right: 10%;
    background-color: $light-color;
}

.form-button {
    text-align: center;
}

h2 {
    text-align: center;
}

.login-form {
    display: grid;
    align-items: center;
}