//colors
$dark-color: #5a7591;
$lightest-color: #fafafb;
$text-color: #000000;
$light-color:#d8dce4;
$medium-color: #8a9db6;

//font
$body-font: Arial, Helvetica, Sans-Serif;


//padding
$padding:3px;
$padding1:2%;

//Media Query Widths

$tabletLandscape: 1024px;
$phoneLandscape: 670px;


